/* Fonts */
@font-face {
    font-family: "Philosopher";
    src: url(../fonts/Philosopher/Philosopher-Regular.ttf);
}
@font-face {
    font-family: "MontserratAlternates";
    src: url(../fonts/MontserratAlternates/MontserratAlternates-Regular.ttf);
}
@font-face {
    font-family: "Caveat";
    src: url(../fonts/Caveat/Caveat-Regular.ttf);
}
/*  */
*{
    transition: 0.15s;
    box-sizing: border-box;
}
body{
    background-color: #342321;
}

.navigation_section{
    margin: 3.25rem 0 0 0;
    display: grid;
    place-items: center;
}
.navigation_menu{
    list-style: none;
    display: flex;
    column-gap: 4.719rem;
}
.navigation_link{
    text-decoration: none;
    font-family: 'Philosopher';
    font-size: 1.5rem;
    color: #FCFCFC;
}
sub{
    display: none;
}
.navigation_link:hover{
    color: #800F2F;
}
.logo_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_decor img{
    width: 100%;
}
.logo{
    padding: 1.528rem 2.75rem 1.528rem 2.75rem;
    background-color: #342321;
}
.logo img{
    display: block;
    margin: 0 auto; 
}
.burger_menu_button{
    display: none;
}
@media screen and (max-width: 767px){
    *{
        transition: 0s;
    }
    .burger_menu_button{
        display: block;
    }
    .navigation_section{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        margin: 0;

        width: 100vw;
        height: 100vh;
        background-color: rgba(38, 38, 38, 0.65);
    }
    .navigation_menu{
        background-color: #FEFAE0;
       
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 1.75rem;
        

        width: 91.20%;
        height: 21.25rem;
        border-radius: 8px;
    }   
    .navigation_link{
        color: #161515;
        font-size: 2.25rem;
    }
    .navigation_link sub{
        display: inline-block;
        font-size: 0.75rem;
    }
    .burger_menu_icon{
        position: absolute;
        z-index: 1000;
        top: 1rem;
        right: 1rem;

        font-size: 2.25rem;
        color: #F5F4F4;
        cursor: pointer;
    }
    
    .burger_menu_icon_close{
        display: none;
    }
    
    .logo_section{
        display: block;
    }
    .logo_decor{
        display: none;
    }
    .show{
        visibility: visible;
    }
    .hide{
        visibility: hidden;
    }
    
}


main{
    margin: 3.008rem 0 4.5rem 0;
    height: 32.375rem;
    position: relative;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 4.25rem); */
}
@media screen and (min-width: 768px){
    
    .background_img_section{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h1:first-child{
        width: 100%;
        text-align: center;
        position: absolute;
        top: 7%;
        left: 37%;
        transform: translate(-50%, -7%);
        margin-bottom: 5rem; 
        padding-left: 7.78%;
    }
    h1:nth-child(2){
        width: 100%;
        text-align: center;
        position: absolute;
        top: 39%;
        left: 36%;
        transform: translate(-50%, -39%);
        z-index: 999;
    }
    .subtitle_main_text_section{
        position: absolute;
        top: 75%;
        right: 1%;
        transform: translate(-10%, -75%);
    }
}
h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #F5F4F4;
    letter-spacing: -0.011rem;
    font-family: 'Philosopher';
}
.subtitle_main_text{
    color: #F5F4F4;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: -0.011rem;
    margin-bottom: 1.5rem;
    font-family: 'MontserratAlternates';
}
@media screen and (max-width: 767px){
    h1{
        font-size: 2rem;
        text-align: center;
    }
    .subtitle_main_text_01{
        text-align: center;
        font-size: 1.125rem;
    }
    .subtitle_main_text_02{
        display: none;
    }
    .background_img_section img{
        width: 15.938rem;
        height: 16rem;
        display: block;
        margin: 0 auto;
        object-fit: contain;
        padding: 1.25rem 0 1.25rem 0;
    }   
}



.our_advantages_section{
    background-color: #FEFAE0;
    padding: 2.5rem 4.375rem 9rem 4.375rem;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 3rem;

    background-image: url(../img/advantages_decor.png);
    background-repeat: no-repeat;
    background-size: 40.69%;
}
h2{
    font-family: 'Caveat';
    font-size: 2.375rem;
    line-height: 2.75rem;
    color: #161515;
    letter-spacing: -0.011rem;
    margin-bottom: 1rem;
}
.advantages_text_section p{
    font-family: 'MontserratAlternates';
    font-size: 1.25rem;
    color: #161515;
    line-height: 1.5rem;
    letter-spacing: -0.013rem;
}
.advantages_text_section_01{
    grid-column: 7/13;
    text-align: right;
    border-left: 1px solid #800F2F;
}
.advantages_text_section_02{
    grid-column: 6/12;
    border-right: 1px solid #800F2F;
}
.advantages_text_section_03{
    grid-column: 4/13;
    text-align: right;
}
.advantages_text_section_04{
    grid-column: 4/12;
}
.advantages_text_section_00{
    display: none;
}
.mobile_decor_line{
    display: none;
}
@media screen and (max-width: 767px){
    .advantages_text_section_00{
        display: block;
        text-align: right;
        grid-column: 1/9;
    }
    .advantages_text_section_01{
        text-align: left;
        grid-column: 1/9;
        border: none;
    }
    .advantages_text_section_02, .advantages_text_section_03, .advantages_text_section_04{
        display: none;
    }
    .our_advantages_section{
        position: relative;
        padding: 17.875rem 1rem 9rem 1rem;
    
        grid-template-columns: repeat(8, 1fr);
        row-gap: 5rem;
    
        background-size: 72.27%;
    }
    h2{
        font-size: 2rem;
    }
    .advantages_text_section p{
        font-size: 1rem;
    }
    .mobile_decor_line{
        display: block;
        width: 0.063rem;
        height: 16rem;
        background-color: #800F2F;
        position: absolute;
        right: 14.26%;
    }
}
.our_advantages_banner_section{
    background-color: #FEFAE0;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 4.375rem 9.063rem 4.375rem;
}
h3{
    font-size: 5.5rem;
    line-height: 6rem;
    font-family: 'Philosopher';
    letter-spacing: -0.011rem;
    color: #000000;
    text-transform: uppercase;
    grid-column: 1/6;
    z-index: 3;
}
h3:first-child{
    margin-bottom: 10.688rem;
}
.banner_img_section{
    grid-row: 1/3;
    grid-column: 6/13;
    justify-self: end;
    z-index: 1;
    position: relative;
}
.banner_subtext{
    font-family: 'MontserratAlternates';
    font-size: 1.125rem;
    color: #800F2F;
    line-height: 1.5rem;
    letter-spacing: -0.013rem;
    text-align: right;
    margin-top: 2.688rem;
}
.banner_decor_text{
    font-size: 2.5rem;
    font-family: 'Caveat';
    line-height: 2.25rem;
    letter-spacing: -0.011rem;
    color: #161515;
    position: absolute;
    top: 40%;
    right: 51%;
    transform: translate(-50%, -40%);
}
.banner_decor_text span{
    color: #F5F4F4;
}
@media screen and (max-width: 767px){
    .our_advantages_banner_section{
        grid-template-columns: repeat(8, 1fr);
        padding: 0 1rem 8.625rem 1rem;
    }
    h3{
        font-size: 3.125rem;
        line-height: 3rem;
    }
    h3:first-child{
        margin-bottom: 15.25rem;
    }
    .banner_img_section{
        padding-top: 3.25rem;
    }
    .banner_subtext{
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-top: 5.25rem;
    }
    .banner_decor_text{
        font-size: 2rem;
        line-height: 2.25rem;
        letter-spacing: -0.011rem;
        z-index: 999;
        top: 40%;
        right: -23%;
        transform: translate(-50%, -40%);
        width: 15.938rem;
    }
    .banner_subtext br{
        display: none;
    }
}
